body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.react-datepicker-wrapper{
    width: 100%;
}
.aliceblue{
    background-color: aliceblue;
}
.mintcream{
    /* background-color: mintcream; */
}
.fc-event-title{
    font-family:  'Times New Roman', Times, serif !important;
    font-weight: bold;
}
.fc-event-main{
    padding: 6px !important;
}

.fc-timeline-event {
    border-radius:7px !important;
}
